.button-container {
    width: 16.5rem;
    height: 4rem;
    letter-spacing: 0.01rem;
    padding: 0 3.5rem;
    font-size: 1.75rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight:lighter;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: auto;
  
    &:hover {
      background-color: white;
      color: black;
      border: 0.01rem solid black;
    }
  
    &.google-sign-in {
      background-color: #4285f4;
      color: white;
  
      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  
    &.inverted {
      background-color: white;
      color: black;
      border: 0.01rem solid black;
  
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  
  @media(max-width:1000px)
  {
    .button-container{
      height: 3rem;
      font-size: 1.5rem;
    }
  }
  @media(max-width:800px)
  {
    .button-container{
      height: 2rem;
      font-size: 1.2rem;
      
    }
  }
  