.cart-icon-container {
    width: 4rem;
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon{
      width: 4rem;
      height: 4rem;
    }
    .item-count {
      position: absolute;
      font-size: 2rem;
      font-weight: lighter;
      top:1rem
    }
  }