.cart-icon-container {
   width: 2rem;
   height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 5rem;
      height: 5rem;
    }
  
    .item-count {
      position: absolute;
      font-size: 15px;
      font-weight: bold;
      // bottom: 12px;
      top:10px
    }
  }