.cart-dropdown-container {
    position: absolute;
    width: 24rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 0.1rem solid black;
    background-color: white;
    top: 9rem;
    right: 4rem;
    z-index: 5;
  
    .empty-message {
      font-size:2rem;
      margin: 5rem auto;
    }
  
    .cart-items {
      height: 24rem;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }
  