$sub-color: rgb(0, 0, 0);
$main-color: black;

.group {
  position: relative;
  margin: 4.5rem 0;

  .form-input {
    background: none;
    background-color: rgb(226, 226, 226);
    color: $sub-color;
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    width: 80%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 2.5rem 0;    
  }

 

.form-input-label {
font-size: 1.5rem;
}
}

@media(max-width:550){
.form-input{
  margin: 3rem 0;
}
.group{
  margin: 3rem 0;
}
}