* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0 3rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
 
    font-family: 'Amatic SC', cursive;

    font-family: 'Fira Sans Condensed', sans-serif;

    font-family: 'Open Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
 